.read-page-container{
  margin: 0;
}
#read-header-container {
  display: flex;
  padding: 7px;
  width: 100vw;
  overflow-x: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: var(--main-color);
  height: 40px;
}

.read-search-box {
  border: none;
  margin-top: 5px;
  margin-left: 20%;
  background-color: rgba(0,0,0,0.1);
  height: 30px;
  border-radius: 15px;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
}

.read-view-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

::-webkit-scrollbar {
  width: 7px;
}
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px lightgray;
   background: lightgray;
   width: 5px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  width: 7px;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color:darkgray;
}

.read-side-header-container {
  /* background-color: rgba(0,0,0,0.03); */
  display: block;
  padding: 10px 10px;
  height: 40px;
}

.read-side-header-container h2 {
  color: black;
  margin: 0;
  font-size: 25px;
}
.read-side-header-container h6 {
  color: var(--main-color);
  margin: 0;
  font-size: 12px;
  /* width: 150px; */
  overflow-x: hidden;
  float: left;
}
#below-title {
  /* display: flex; */

}
#below-title-icons {
  display: flex;
  float: right;
  margin-right: 20px;
}
#read-side-punchlines-container {
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  overflow-y: scroll;
  background-color: white;
  scroll-behavior: smooth;
}
.read-loader-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.read-side-controls {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-content: space-between;
}
.read-side-controls lable {
  font-style: italic;
}
#heart-down {
  margin-top: 3px;
}
#report-lyrics {
  margin-right: 20px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 99999;
  top: 125%;
  left: 50%;
  margin-left: -28px;
  opacity: 0;
  transition: opacity .3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

.tooltip:hover .tooltiptext {
  animation: show-tip 1s;
  animation-timing-function: ease;
}
@keyframes show-tip {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

/* #rate-song-lyrics{
  margin-right: 10px;
} */
#report-lyrics form {
  display: none;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  padding: 15px 8px;
  box-shadow: 3px 3px 10px lightgray;
  width: 250px;
  margin-left: -260px;
  margin-right: 10px;
  text-align: left;
  z-index: 9999;
}
#report-lyrics form label {
  cursor: pointer;
  color: var(--main-color);
}
#report-lyrics form label input {
  cursor: pointer;
  margin-bottom: 10px;
  color: var(--main-color);
}
#report-submit {
  background-color: var(--main-color);
  border: none;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  width: 50px;
  font-size: 12px;
  padding: 5px 5px;
  border-radius: 5px;
  float: right;
}


#song-info {
  margin-top: 75px;
  margin-bottom: 25px;
  padding: 25px;
  width: 80%;
  border-radius: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: rgba(0,0,0,0.03);
}
#song-info h2 {
  text-align: left;
}
.info-item-container {
  display: flex;
  justify-content: space-between;

}
.info-item-container p{
  font-size: 20px;
}
.artist-points {
  color: var(--main-color)
}
.fa-paper-plane {
  transform: rotate(180deg);
  color: white;
}
textarea {
  resize: none;
  padding: 10px 5px;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid var(--main-color);
}

.youtube-video {
  width:90%;
  height:400;
  margin-bottom: 50px;
}
@media only screen and (max-width: 700px) {

  .read-view-container {
    grid-template-columns:1fr;
  }

  #read-header-container {
    background-color: white;
    box-shadow: 1px 1px 10px lightgray;;
  }
  #read-side-punchlines-container {
    margin-top: 0;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5px;
    width: 98%;
  }
  .read-side-controls {
    grid-template-columns:2fr 1fr 2fr 1fr;
  }
  .editBr-container {
    width: 80%;
  }
  #autoscroll-container {
     display: none;
  }
  .fa-fire-alt{
    margin-bottom: 10px;
  }
  #comments-container {
    height: auto;
    overflow-x: hidden;
    padding-right: 5px;
    margin-top: 0;
    overflow-x: hidden;
    width: 100%;
  }
  .comment-container {
    margin: 5px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
  }

}
@media only screen and (max-width: 500px) {
  .puchline-container{
    width: 85%;
  }

}
