
input {
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  width: 90%;
}


#smart-button-container {
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#input-container {
  margin-left: 50%;
  transform: translateX(-50%);
}
