
#cookie-prompt-container {
  background-color: gray;
  padding: 25px;
  position: fixed;
  bottom: 10px;
  z-index: 777;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
}

#cookie-prompt-container p {
  color: white;
}
#cookie-prompt-container button {
  color: white;
  background-color: #F5A623;
  padding: 7px 9px;
  border-radius: 5px;
}
